{% include "components/head.html" %}
<body>
{% include "components/navigation.html" %}

<div class="container" style="padding-top: 50px;">
    <div class="box">
        <form class="" action="/api/pair/" method="post" >
            <input class="input" name="key" type="text" placeholder="key">
            <textarea class="input" name="value"></textarea>
            <button type="button" class="button is-primary" onclick="SubmitForm(this.parentNode)">SUBMIT</button>
        </form>
    </div>
</div>

{% include 'components/footer.html' %}
<script>
    function SubmitForm(form){
        var url = "/api/pair/";
        var key = form['key'].value;
        var value = form['value'].value;
        var formdata = {
        };
        formdata[key] = value;
        $.ajax({
        type: "POST",
        url: url,
        data: formdata,
        success: function(data) {
            console.log(data);
        }
    });
    }
</script>
</body>