{% if footer_posts %}
    <div class="columns">
    {% for post in footer_posts %}
        <div class="column" style="min-height: 20%;">
            <a class="box" href="/blog/post/{{ post.url }}">
                <div class="media">
                    <div class="media-left">
                        <div class="footer-card-image" style="background-image: url('https://isogen.net/media/{{ post.header_picture.url }}')">

                        </div>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p style="font-family: 'Bitter', serif;">
                                <span class="is-link">{{ post.get_authors_text }}</span> - <small>{{ post.datetime_posted.date }}</small>
                                <br>
                                <strong>{{ post.title }}</strong>
                                <br>
                                <small>{{ post.subtitle.upper }}</small>
                            </p>
                        </div>
                        <nav class="level">
                            <div class="level-left">

                            </div>
                        </nav>
                    </div>
                </div>
            </a>
        </div>

    {% endfor %}
    </div>


{% endif %}