{% if footer_posts %}
    <div class="columns">
    {% for post in footer_posts %}
        <div class="column" style="min-height: 20%;">
            <a class="box" href="/blog/post/{{ post.id }}">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="/media/{{ post.header_picture.url }}" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p style="font-family: 'Bitter', serif;">
                              <strong>{{ post.author.all.0.fullname }}</strong> - <small>{{ post.datetime_posted.date }}</small>
                              <br>
                              {{ post.title }}
                            </p>
                        </div>
                        <nav class="level">
                            <div class="level-left">

                            </div>
                        </nav>
                    </div>
                </div>
            </a>
        </div>

    {% endfor %}
    </div>


{% endif %}