{% include "components/head.html" %}

{% include "components/navigation.html" %}

{% include "components/modals/alert.html" %}
{% if featured %}
<div id="featured-post" class="awaits-image-load">
    <img class="display-on-load" src="https://isogen.net/media/{{ featured.header_picture.url }}" onload="fadeInImage(this)">

</div>
<div class="featured-card post" onclick="location='/blog/post/{{ featured.url }}'">
    <h1 class="title" style="font-size: 30px;">{{ featured.title }}</h1>

    <h3 class="">{{ featured.subtitle.upper }}</h3>
    <strong><a>{{ featured.author.all.0.fullname }}</a></strong> <strong>&middot;</strong> <small>{{ featured.datetime_posted }}</small>
    <hr>
    <div style="margin-top: 12px;">
        {% for tag in featured.post_tags.all %}
        <span class="tag is-light is-small">{{ tag }}</span>
        {% endfor %}
    </div>
    <span style="margin:0;position: absolute; right: 4px; top: 1px; color: lightgrey; font-size: 20px" >FEATURED</span>
</div>
{% endif %}
<div class="container" style="padding: 0 10px 0 10px;">
    <h1 class="title" style="margin: 10px; color: #888">Latest Posts</h1>
    <hr style="margin: 10px;">
</div>
<div id="main-content" class="container is-flex" style="padding: 10px;justify-content: space-between; flex-flow: row wrap;">
    {% include 'blog/recent.html' %}

    {% if posts %}
    {% for post in posts %}
        <a class="box post" href="/blog/post/{{ post.url }}" style="margin: 10px; border-radius: 0;">
            <div class="media">
                <div class="media-left">
                    <div class="footer-card-image" style="background-image: url('https://isogen.net/media/{{ post.header_picture.url }}'); height: 128px; width: 128px;">

                    </div>
                </div>
                <div class="">
                    <h1 class="title">{{ post.title }}</h1>
                    <h3 class="subtitle" style="margin-top: 7px;">{{ post.subtitle }}</h3>
                    <strong class="is-link">{{ post.get_authors_text }}</strong> - <small>{{ post.datetime_posted.date }}</small>
                </div>
            </div>
        </a>
    {% endfor %}
    {% endif %}

</div>
{% include 'components/footer.html' %}
<script>


</script>
