

.card{
    margin: 40px;
    float: left;
}

.card .content{
    height: 80px;
}

.directory:hover{
    color: hsl(275, 100%, 55%);
}

.image{
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.overlap{
    margin-bottom: -7px;
    background-color: white;
    position: relative;
    display: inline-block;
}