html{
    min-height: 100%;
}

body{
    position:relative;
    padding-bottom: 200px;
    min-height: 100%;
}

.card{
    margin: 40px;
    float: left;
}

.card .content{
    height: 80px;
}

.directory:hover{
    color: hsl(275, 100%, 55%);
    transform: scale(1);
}

.directory:active{
    transform: scale(0.98);
}

.tab-selector.active{
    color: hsl(275, 100%, 55%);
}



.image{
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.overlap{
    margin-bottom: -7px;
    background-color: white;
    position: relative;
    display: inline-block;
}

pre{
    white-space: pre-wrap;
}

@keyframes scale-press {
    from{transform: scale(1)}
    to{transform: scale(0.95)}
}

@keyframes center-expand {
    from{transform: scale(1)}
    to{transform: scale(1.05)}
}

.context-menu{
    position: absolute;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
    background-color: #fefefe;
    min-width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    z-index: 9999999999999999;
}

.context-menu a{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    padding: 3px 20px 3px 20px;

}

.context-menu a:hover{
    background-color: #4286f4;
    color: white;
    cursor: pointer;
}

.context-menu p{
    padding: 5px 20px 5px 20px;

    border-bottom: 1px solid lightgrey;
    width: 100%;
}

.context-menu hr{
    margin: 5px;
}

.stickynote{
    position: absolute;
    width: 150px;
    height: 150px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAADhJREFUCB1j/P9u5hkGBsYGBjD4D6ZZIBwQCRKASDJBGBAVEAkGBqAgCMC0g+j/DUDtMFUwCQYGALW4D2DIX5GaAAAAAElFTkSuQmCC);
    /*background-color: #ffee99;*/
    resize: none;
    padding: 10px;
    padding-top: 15px;
    cursor: text;
    border: 1px solid #ddcc66;
    -webkit-appearance: none;
    color: #333;
    outline: none;
    cursor: pointer;
}

.stickynote:focus{
    cursor: auto;
}


.stickynote.editable{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}

.toast {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    text-align: center;
    color: black;
    width: 200px;
    overflow: visible;
    overflow-wrap: break-word;
    overflow-clip: wrap;
    padding: 15px;
    animation: 0.3s toast-pop forwards;
    outline: 1px solid #9f1aff;
    outline-offset: -3px;
}

@keyframes toast-pop {
    from {
        margin-bottom: 0;
    }
    to {
        margin-bottom: 100px;
    }
}

.filedrop{
    border: 2px dashed lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    margin: 0 auto;
    cursor: pointer;
}

.filedrop:hover{
    background-color: white;
    color: #9f1aff;
}

.filedrop.success{
    border-color: #55dd55;
    background-color: rgba(85, 221, 85, 0.1);
}

.filedrop.failure{
    border-color: #dd5555;
}

.hover-expand{
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.2s;
}

.hover-expand:hover{
    transform: scale(1.05);
}


#header-image{

    width: 100%;
    height: 600px;
    position: fixed;
    top: 0;
    background-position: center center;
}

#posts-container{
    position: relative;
    margin-top: 500px;
    width: 100%;
    overflow: hidden;
}

article .content{
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
}


article .content *{
    position: relative;
}



article .content h1, h2{
    font-family: "Bitter", serif;
}

.post .title{
    font-family: "Bitter", serif;
}

article .content::before{
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: -100vw;
    width: 1000vw;
    height: 100%;
    background-color: white;
    content: '';
}

article .post-body{
    font-size: 17px;
    font-family: 'Verdana', sans-serif;
    line-height: 30px;
    font-weight: lighter;
}

#featured-post{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 100px;
}

.featured-card{
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -100px;
    border: 1px solid lightgray;
    background-color: white;
    padding: 30px;
    max-width: 800px;
    cursor: pointer;

}

