<section class="hero">
    <div class="hero-body">

    </div>
</section>

<section class="hero is-primary">
        <div class="hero-body">
            <div class="container" style="text-align: center">
                <div class="columns">
                    <div class="column">
                        <a class="" href="/admin/" style="color: white">Admin Login</a>
                    </div>
                    <div class="column">
                        &copy; ISOGEN.NET 2016
                    </div>
                    <div class="column">
                        <a class="" href="mailto:ian@isogen.net" style="color: white">Email Me</a>
                    </div>
                </div>

            </div>
        </div>
    </section>