
<div style="position:relative; bottom: 0; left: 0; width: 100%;">
    <section class="hero">
        <div class="hero-body">

        </div>
    </section>

    <section class="hero is-primary" style="">
        <div class="hero-body">
            <div class="container" style="text-align: center">
                <div class="columns">
                    <div class="column">
                        <a class="" href="/directory/" style="color: white">Directory</a>
                        <br>
                        <a class="" href="/blog/" style="color: white">Blog</a>

                    </div>
                    <div class="column">
                        &copy; ISOGEN.NET 2017
                    </div>
                    <div class="column">
                        <a class="" href="mailto:ian@isogen.net" style="color: white">Email Me</a>
                        <br>
                        <a class="" href="/admin/" style="color: white">Admin Login</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
