<head>
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="/static/isogen/css/isogen.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/isogen/css/extra.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/static/isogen/isogen.js" ></script>
    <script src="/static/isogen/js/context-menu.js" ></script>
    <script src="/static/isogen/js/notifications.js" ></script>
    <script>
        {% if search is not None %}
        var Search = '{{ search }}';
        {% else %}
        var Search = null;
        {% endif %}
    </script>

</head>