<nav class="nav" id="navbar">
    <div class="nav-left">
        <a class="nav-item" target="_blank" title="View my GitHub profile" href="https://github.com/3jackdaws">
                <span class="icon">
                    <i class="fa fa-github"></i>
                </span>
        </a>
        <p class="control has-addons nav-item  ">
            <input class="input" id="s" name="s" placeholder="Search This Page">
            <a class="button" onclick="searchFor()"><span class="fa fa-search"></span></a>
        </p>

    </div>
    <div class="nav-center is-brand">
        <a class="nav-item is-brand" href="#">
            <h1 class="title">ISOGEN</h1>
        </a>
    </div>
    <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
    <div class="nav-right nav-menu">
        <a class="nav-item" id="menu-home" href="/">Home</a>
        <a class="nav-item" id="menu-members" href="/blog/">Blog</a>
        <a class="nav-item" id="menu-directory" href="/directory/">Directory</a>
        <a class="nav-item" id="menu-contact" href="/contact/">Contact</a>
        <span class="nav-item">
                <a id="sign-in-button" class="button" href="#" onclick="toggleLogin()">
                    {% if user %}
                        Logged in as {{user.username}}
                    {% else %}
                    <span class="icon">
                        <i class="fa fa-sign-in"></i>
                    </span>
                    <span>
                    Login
                    </span>
                    {% endif %}
                </a>
            </span>
    </div>
</nav>
<div id='login' class="modal">
  <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ login_form.action }}</p>
            <!--<button class="delete"></button>-->
        </header>
        <section class="modal-card-body">
            <form id='login-form' action="/{{ login_form.action.lower }}/" onsubmit="login(event, this); return false">
                {% csrf_token %}
                {{ login_form }}

            </form>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-primary" onclick="login(event, document.getElementById('login-form'))">{{ login_form.action }}</a>
            <a class="button is-outline" href="/register/">Register</a>
            <a class="button" onclick="toggleLogin()">Cancel</a>
        </footer>
    </div>
</div>
<script>
    var Username = '{{ user }}' | null;
</script>
