
{% include "head.html" %}

{% include "navigation.html" %}

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Subdomain Directory
                </h1>
                <h2 class="subtitle">
                    Isogen.net related domains
                </h2>
            </div>
        </div>
    </section>
    <div class="container is-flex" style="justify-content: space-around">
        {% for site in sites %}

        <div class="card" onclick="window.location='{{ site.url }}'" style="cursor:pointer">
            <div class="card-image" style="overflow: hidden; position: relative">
                <div class="image" style="background-image: url('{{ site.picture_url }}');"></div>

            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-32x32">
                            <img src="" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-5">{{ site.title }}</p>
                        <p class="subtitle is-6"><a href="{{ site.url }}">{{ site.url }}</a></p>
                    </div>
                </div>
                <div class="content">
                    {{ site.description }}<br>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    </div>
</body>
<script>

</script>

