
{% include "head.html" %}

{% include "navigation.html" %}

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Isogen Directory
                </h1>
                <h2 class="subtitle">
                    Isogen.net notable locations
                </h2>
            </div>
        </div>
    </section>
    <div class="container is-flex" style="justify-content: space-around">
        {% for site in sites %}

        <div class="card directory" onclick="window.location='{{ site.url }}'" style="cursor:pointer">
            <div style="text-align: center; font-size: 100px; padding: 50px;">
                <i class="fa {{ site.icon }}" aria-hidden="true"></i>
            </div>
            <div class="card-content" style="text-align: center;">

                <h1 class="title">{{ site.title }}</h1>

                <p class="content">
                    {{ site.description }}
                </p>

            </div>
        </div>
        {% endfor %}
    </div>

    </div>
</body>
<script>

</script>

