
{% include "components/head.html" %}
{#<body style="padding-bottom: 200px;">#}
{% include "components/navigation.html" %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% if search %}
                    Directory Search
                    {% else %}
                    Directory
                    {% endif %}
                </h1>
                <h2 class="subtitle">
                    Isogen locations and related domains.
                    {% if search %}
                    Looking for "{{search}}".
                    {% endif %}
                </h2>
            </div>
        </div>
    </section>
    <div class="container is-flex" id='main-content' style="justify-content: space-around; flex-flow: row wrap; padding-top: 10px">
        {% if sites %}
        {% for site in sites %}

        <div class="card directory" onclick="window.location='{{ site.url }}'" style="cursor:pointer">
            <div style="text-align: center; font-size: 100px; padding: 50px;">
                <i class="fa {{ site.icon }}" aria-hidden="true"></i>
            </div>
            <div class="card-content" style="text-align: center;">

                <h1 class="title searchable">{{ site.title }}</h1>

                <p class="content searchable">
                    {{ site.description }}
                </p>
                <hr>
                {{ site.url }}
            </div>
        </div>
        {% endfor %}
        {% else %}

            <h1 class="title is-1" style="padding: 200px; color: #888">
                No matches.
            </h1>

        {% endif %}
    </div>

    {% include 'components/footer.html' %}


