
{% include "components/head.html" %}

{% include "components/navigation.html" %}

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Available Files
                </h1>
                <h2 class="subtitle">
                    Files you have access to
                </h2>
            </div>
        </div>
    </section>
    <div class="container" style="padding-top: 30px;">
        <div class="columns">
            <div class="column is-4">
                <div class="container">
                    <nav class="panel" style="background-color: white">
                        <p class="panel-heading">
                            Files
                        </p>
                        {% for file in files %}
                        <a class="panel-block is-primary" onclick="showTab(event, '{{ file.file.name }}')">
                            <span class="panel-icon">
                                <i class="fa fa-book"></i>
                            </span>
                            {{ file.file.name }}
                        </a>
                        {% endfor %}
                    </nav>
                </div>
            </div>

            <div class="column" style="">
                <div class="box is-fullwidth" >
                    {% for file in files %}
                    <div id="{{ file.file.name }}" class="tab" style="display: none; font-size: 16px;">
                        <div class="columns">
                            <div class="column">
                                <strong>FILE NAME: </strong><span class="is-primary">{{file.file.name}}</span>
                                <br>
                                <strong>FILE SIZE: </strong><span class="is-primary">{{file.file.size}} bytes</span>
                                <br>
                                <strong>RESTRICTED TO: </strong>
                                <span class="is-primary">
                                {% for member in file.members_allowed.all %}
                                <span class="tag is-primary is-outline">{{ member }}</span>
                                {% endfor %}
                                </span>
                            </div>

                            <div class="column is-narrow" >
                                <a class="button is-primary is-outlined"  target="_blank" href="/static/media/{{file.file.url}}" download>DOWNLOAD</a>
                            </div>
                        </div>
                    </div>

                    <strong>DESCRIPTION:</strong>
                    <div class="content">
                        {{ file.description }}
                    </div>
                    <br>
                    <strong>CONTENTS:</strong>
                    <div class="content" style="word-wrap: break-word; overflow: wrap;">
                        {{file.contents}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
<script>
    function showTab(event, tabName){
        var tabs = document.getElementsByClassName('tab');
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].style.display = "none";
        }
        document.getElementById(tabName).style.display = "block";
        console.log(document.getElementById(tabName));
    }
</script>


