<section class="hero">
    <div class="hero-body">

    </div>
</section>

<section class="hero is-primary">
        <div class="hero-body">
            <div class="container" style="text-align: center">
                <div class="columns">
                    <div class="column">
                        <strong><a class="" href="/admin/" style="color: white">Admin Login</a></strong>
                    </div>
                    <div class="column">
                        <strong style="color: white">Copyright Ian Murphy 2016</strong>
                    </div>
                    <div class="column">
                        <strong><a class="" href="mailto:ian@isogen.net" style="color: white">Email Me</a></strong>
                    </div>
                </div>

            </div>
        </div>
    </section>