<nav class="nav">
    <div class="nav-left">
        <a class="nav-item" target="_blank" title="View my GitHub profile" href="https://github.com/3jackdaws">
                <span class="icon">
                    <i class="fa fa-github"></i>
                </span>
        </a>
    </div>
    <div class="nav-center is-brand">
        <a class="nav-item is-brand" href="#">
            <h1 class="title">ISOGEN</h1>
        </a>
    </div>
    <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
    <div class="nav-right nav-menu">
        <a class="nav-item" id="menu-home" href="/">Home</a>
        <a class="nav-item" id="menu-members" href="/members">Members</a>
        <a class="nav-item" id="menu-directory" href="/directory">Directory</a>
        <a class="nav-item" id="menu-contact" href="/contact">Contact</a>
        <span class="nav-item">
                <a id="sign-in-button" class="button is-primary is-outlined" href="#" onclick="toggleLogin()">
                    {% if user %}
                        Logged in as {{user.username}}
                    {% else %}
                    <span class="icon">
                        <i class="fa fa-sign-in"></i>
                    </span>
                    <span>
                    Login
                    </span>
                    {% endif %}
                </a>
            </span>
    </div>
</nav>
<div id='login' class="modal">
  <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ login_form.action }}</p>
            <!--<button class="delete"></button>-->
        </header>
        <section class="modal-card-body">
            <form id='login-form' action="/{{ login_form.action.lower }}/" onsubmit="submitForm(event, this); return false">
                {% csrf_token %}
                {{ login_form }}

            </form>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-primary" onclick="submitForm(event, document.getElementById('login-form'))">{{ login_form.action }}</a>
            <a class="button" onclick="toggleLogin()">Cancel</a>
        </footer>
    </div>
</div>
<script>
    function toggleLogin(){
        var logModal = document.getElementById('login');
        if (logModal.className.search(/is-active/) == -1){
            logModal.className += " is-active";
        }else{
            logModal.className = logModal.className.replace(/is-active/, "");
        }
    }

    function submitForm(event, form){
        event.preventDefault();
        var url = form.getAttribute("action");
        var datastring = $(form).serialize();
        console.log(datastring, url);
        $.ajax({
            type: "POST",
            url: url,
            data: datastring,
            success: function(data) {
                var action = JSON.parse(data);
                console.log(action);
                if (action.success){
                    location.reload();
                }else{
                    toggleLogin();
                }
            }
        });
    }
</script>