
{% include "components/head.html" %}

{% include "components/navigation.html" %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Shinobu Reichlist Entries
                </h1>
                <h2 class="subtitle">

                </h2>
            </div>
        </div>
    </section>
    <div class="container is-flex" id='cards' style="justify-content: space-around; flex-flow: row wrap; padding-top: 10px">
        {% if entries %}
            {% for entry in entries %}
                <div class="card" style="padding: 20px;">
                    {{ entry.ItemValue }}
                    <br>
                    - {{ entry.Name }}
                </div>

            {% endfor %}
        {% endif %}
    </div>

    {% include 'components/footer.html' %}
<script>

</script>

