
{% include "components/head.html" %}

{% include "components/navigation.html" %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Discord Webhook Executor
                </h1>
                <h2 class="subtitle">

                </h2>
            </div>
        </div>
    </section>
    <div class="container is-flex" id='cards' style="justify-content: space-around; flex-flow: row wrap; padding-top: 10px">
        <form style="" id="wh">
            <div class="control is-horizontal">
                <label style="margin-right: 5px;">
                    <strong>Custom Username</strong>
                    <input class="input" name="username" placeholder="(not required)">
                </label>
                <label style="margin-left: 5px;">
                    <strong>Custom Avatar URL</strong>
                    <input class="input" name="avatar_url" placeholder="(not required)" oninput="loadAvatar(this)">
                </label>
                <img id='avatar-preview' class=""  src=""style="position: absolute;bottom: 1px; right: 1px; margin-left: -32px; height:30px; width: 30px; border-radius: 50%; border:none;">

            </div>
            <label>
                <strong>Webhook: </strong><span id="wh-name"></span>
                <div class="control is-horizontal">
                    <input class="input" name="url" placeholder="Webhook URL (required)" style="margin-right: 5px;" oninput="checkWebhookURL(this.parentNode.querySelector('button'))">
                    <button type="button" class="button" onclick="checkWebhookURL(this)">CHECK</button>
                </div>
            </label>
            <div id="webhook-check"></div>
            <label><strong>Content</strong></label>
            <textarea class="textarea" name="content" placeholder="(required)"></textarea>
            <button style="margin-top: 5px;" type="button" class="button is-primary" onclick="execute(this.parentNode)">SEND</button>
            <button style="margin-top: 5px;" type="button" class="button " onclick="execute(this.parentNode['content'].value = '')">CLEAR CONTENT</button>

        </form>
    </div>

    {% include 'components/footer.html' %}
<script>
    function execute(form){
        var button = form.querySelector("button");
        button.className += " is-loading";
        var payload = {};
        var url = form['url'].value + "?wait=true";
        payload['content'] = form['content'].value;

        var botname = form['username'].value;
        if(botname) payload['username'] = botname;

        var avatar_url = form['avatar_url'].value;
        if(avatar_url) payload['avatar_url'] = avatar_url;

        var datastring = JSON.stringify(payload);
        console.log(datastring);
        $.ajax({
            type: "POST",
            url: url,
            data: datastring,
            success: function(message) {
                if ("nonce" in message){
                    button.className = "button is-success";
                    button.innerHTML = "Webhook Executed!";

                }else{
                    button.className = "button is-danger";
                    button.innerHTML = "Webhook Failed!";
                }
                setTimeout(function () {
                    button.className = "button is-primary";
                    button.innerHTML = "SEND";
                }, 3000);
            }
        });
    }

    function checkWebhookURL(button){
        var form = document.getElementById('wh');
        var url = form['url'].value;
        document.getElementById("webhook-check").innerHTML = "";
        var input = button.parentNode.querySelector("input");
        button.className+= " is-loading";
        $.ajax({
            type: "GET",
            url: url,
            success: function(webhook) {
                try{
                    "name" in webhook;
                    button.innerHTML = "VALID";
                    button.className = 'button is-success';
                    console.log(webhook);
                    input.className="input is-success";
                    document.getElementById("wh-name").innerHTML = webhook.name;
                }catch (e){
                    button.innerHTML = "INVALID";
                    button.className = 'button is-danger';
                    input.className="input is-danger";
                }
            },error:function(){
                button.innerHTML = "INVALID";
                button.className = 'button is-danger';
                input.className="input is-danger";
            }
        });
    }

    function resetButton(button, text, classname, time){
        setTimeout(function () {
            button.innerHTML = text;
            button.className = classname;
        }, time);
    }

    function loadAvatar(input) {
        var url = input.value;
        var avatarPreview = document.getElementById('avatar-preview');
        avatarPreview.src=url;
    }
</script>

